/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*NAV COMEÇA AQUI*/
body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #243746;
}

header {
    background-color: #fff;
    padding: 20px;
    margin: auto;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width:200px;
    max-height: 200px;
    padding: 0%;
    padding-left: 100px;
    padding-right: 100px;
    width: auto;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    margin: 10px;
}

.logo img {
    width: 120px;
    margin-right: 12px;
}

.teste:hover {
    color: #EB0045;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav li {
    margin-right: auto;
    margin-left: 40px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #243746;
    font-weight: bold;
}
/*NAV TERMINA AQUI*/

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*MAIN COMEÇA AQUI*/
main {
    padding-top: 1px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fff;
}
main h1 {
    color: #EB0045;
    font-size: 50px;
}

main h3 {
    color:#243746;
    font-size: 30px;
}

.principal {
    background-color: #243746;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    text-align: center;
}

.titulo {
    width: 600px;
    height: 45px;
    background-color:#EB0045;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    display: inline-flex;
    text-align: center;
    align-items: center;
}


main .titulo img {
    height: 50px;
    width: 50px;
    margin-right: 5px;
    margin-left: auto;
}

main .titulo h2 {
    margin-left: 10px;
}

main h2 {
    color: #fff;
    text-align: center;
    margin: auto;
    font-size: 40px;
}

.boxa {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    width: 1200px;
    height: 200px;
    margin: auto;
    margin-top: -10px;
    text-align:center;
    position: relative;
    transition: transform 0.4s ease-in-out;
}

.boxa img {
    height: 50px;
    width: 200px;
    position:absolute;
    top: 15px;
    right: 15px;
}

.boxa h3{
    color:#EB0045;
    margin: 10px;
}

.boxa h4{
    font-size: 20px;
    margin: 10px;
}

.boxa:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.boxa:hover{
    transition-duration: 0.4s;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
/*MAIN TERMINA AQUI*/

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*RODAPE COMEÇA AQUI*/
footer {
    background-color: #243746;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .container {
    text-align: left;
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
}

footer h2 {
    color: #EB0045;
    font-size: 18px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer li {
    margin-bottom: 10px;
}

footer i {
    font-size: 20px;
    margin-right: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer address {
    font-style: normal;
    margin-top: 10px;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}
/*RODAPE TERMINA AQUI*/

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

