* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #243746;
}

header {
    background-color: #fff;
    padding: 20px;
    margin: auto;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width:200px;
    max-height: 200px;
    padding: 0%;
    padding-left: 100px;
    padding-right: 100px;
    width: auto;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    margin: 10px;
}

.logo img {
    width: 120px;
    margin-right: 12px;
}

.teste:hover {
    color: #EB0045;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav li {
    margin-right: auto;
    margin-left: 40px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #243746;
    font-weight: bold;
}

main {
    padding-top: 1px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fff;
}

.titulo {
    width: 200px;
    height: 30px;
    background-color: #EB0045;
    color: #fff;
    padding: 30px;
    border-radius: 20px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.principal {
    background-color: #243746;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    text-align: center;
}

.caixa {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    display: auto;
    font-size: 15px;
    margin-right: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;

}

.caixa a{
    color: #fff;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background-color: #EB0045; 
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    filter: brightness(0.6);
}

span {
    padding: 0 10px;
}

.areaIcon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #243746;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .container {
    text-align: left;
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
}

footer h2 {
    color: #EB0045;
    font-size: 18px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    margin-bottom: 10px;
}

footer i {
    font-size: 20px;
    margin-right: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer address {
    font-style: normal;
    margin-top: 10px;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}