/*NAV COMEÇA AQUI*/
body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #243746;
}

header {
    background-color: #fff;
    padding: 20px;
    margin: auto;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width:200px;
    max-height: 200px;
    padding: 0%;
    padding-left: 100px;
    padding-right: 100px;
    width: auto;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    margin: 10px;
}

.logo img {
    width: 120px;
    margin-right: 12px;
}

.teste:hover {
    color: #EB0045;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav li {
    margin-right: auto;
    margin-left: 40px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #243746;
    font-weight: bold;
}
/*NAV TERMINA AQUI*/

  
section.grade{
 grid-area: auto;
}
body {
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    padding: 20px;
}
h3{
    color: #EB0045;
}
.grid-container {
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    transition: all 0.5s;
    
}



.box1{
    background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 20px;
}

.bttexto1{
    color: #ccc;
    background-color: #EB0045;
    padding: 18px 35px;
    text-align: center;
    border-radius: 15px;
    margin: 5px auto;
}
.bttexto{
color: #ccc;
background-color: #EB0045;
padding: 16px 25px;
text-align: center;
border-radius: 15px;
}

.box2 {
    margin: 0 auto; 
    padding: 10px; 
    background-color: #ffffff; 
    border-radius: 10px; 
    text-align: center; 
}

.button {
    display: block; 
    width: 80%; 
    margin: 26.5px auto; 
    padding: 20px; 
    background-color: #EB0045; 
    color: #ffffff;
    border: none; 
    border-radius: 15px; 
    font-size: 18px; 
    cursor: pointer; 
    text-decoration: none; 
}

.inscrição{
    color: inherit; 
    text-decoration: none; 
    color: #fff;
}
  
.inscrição:hover {
    text-decoration: underline; 
}

.box2{
    background-color: #243746;
    padding: 25px;
    margin-bottom: 30px;
    color: #FFFFFF;
}
.box3{
    background-color: #FFFFFF;
    padding:  auto;
    margin-bottom: 20px;
    
}
.empr{
    color: #EB0045;

}
.alinhamento{
    text-align: start;
}
.grade{
    padding: 10px;
    background-color: #fff;
}

.box1:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.box2:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
.box3:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
.grade:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}


.col1 {
    grid-column: 1;
    grid-row: span 3;
}

.col2 {
    grid-column: 2;
}

section {
    background-color: #f0f0f0;
    padding: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1, h2 {
    margin-bottom: 10px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*RODAPE COMEÇA AQUI*/
footer {
    background-color: #243746;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .container {
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

footer h2 {
    color: #EB0045;
    font-size: 18px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer li {
    margin-bottom: 10px;
}

footer i {
    font-size: 20px;
    margin-right: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer address {
    font-style: normal;
    margin-top: 10px;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}
/*RODAPE TERMINA AQUI*/

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/